// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  /* Ionic theme colors */
  --ion-color-primary: #f0d387
    /* your gold */
    --ion-color-primary-contrast: #1a1a1a;
  --ion-background-color: #efe3c7;
  /* beige background */
  --ion-text-color: #302B2D;

  /* custom tokens */
  --app-card-bg: #f6edd6;
  --app-accent: #A2bde0;
  /* Analysis/progress small blue */
  --app-radius: 18px;
}

ion-content {
  --background: var(--ion-background-color);
}

.app-card {
  background: var(--app-card-bg);
  border-radius: var(--app-radius);
  padding: 12px;
}