<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>User Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="preferences">
    <ng-container *ngFor="let question of questions; let i = index">
      <div class="question-block">
        <div class="question-label">{{ question.label }}</div>
        <ion-segment [(ngModel)]="preferences[question.key]">
          <ion-segment-button
            *ngFor="let option of options"
            [value]="option.value"
          >
            {{ option.label }}
          </ion-segment-button>
        </ion-segment>
      </div>
    </ng-container>
  </ng-container>
  <ion-button expand="block" (click)="save()" class="generate-btn">
    Save Preferences
  </ion-button>
</ion-content>
