ion-content {
  --background: #faf8f5; // 柔和米白背景
}

.question-block {
  margin-bottom: 24px;
}

.question-label {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #333;
}

ion-segment {
  display: flex;
  justify-content: space-between;
  --background: transparent;
}

ion-segment-button {
  flex: 1;
  margin: 0 4px;
  border-radius: 12px;
  --background: #ffffff;
  --color: #333;
  font-weight: 500;
  border: 1px solid #ccc;

  &.segment-button-checked {
    --background: #4c8dff;
    --color: #fff;
    font-weight: 600;
  }
}

ion-button {
  margin-top: 16px;
  border-radius: 16px;
  font-weight: 600;
}

.nav-container {
  display: flex;
  justify-content: space-between;

  .nav-buttons {
    --color: #333333;
    --border-radius: 8px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --font-color: #333333;
    --ripple-color: #efe3c7;
    --background-activated: #efe3c7;
    --background-focused: #efe3c7;
    --border-color: #333333;
    --border-style: solid;
    --border-width: 1px;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
  }
}

.generate-btn {
  --color: #333333;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --background-activated: #d3d4d5;
  --background-focused: transparent;
  --border-color: #333333;
  --border-style: solid;
  --border-width: 1px;
  font-weight: 600;
  font-size: 18px;

  // active
  &:active {
    --background: #d3d4d5;
  }
}

.progress-row {
  display: flex;
  align-items: center;
  /* 左右分散 */
  margin: 16px 0;
}

.progress-spacer {
  flex: 1;
  /* 左邊空白，保持對稱 */
}

.stepper {
  display: flex;
  flex: 1;
  /* 佔滿中間空間 */
  justify-content: center;
  /* 圓點置中 */
}

.step {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 4px;
  transition: background-color 0.3s ease;

  &.active {
    background-color: #3880ff;
    /* Ionic primary color */
  }
}

.progress-text {
  font-size: 14px;
  color: #555;
  min-width: 50px;
  /* 保持對齊 */
  text-align: right;
  flex: 1;
  padding-right: 5px;
}

.question-block {
  margin: 24px 0;
}