ion-header {
  ion-toolbar {
    --background: #efe3c7;
    --color: #000;
    --border-color: #efe3c7;

    ion-title {
      font-size: clamp(16px, 4vw, 20px);
    }
  }
}

.plan-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px; // icon 與文字距離
  background: #a2bde0; // 你 Figma 上的藍色
  color: #fff; // 讓文字變白，跟藍底對比
  border-radius: 6px; // 依照設計稿圓角
  padding: 8px 12px; // 內距讓區塊比較美觀
  font-size: 20px;

  .text {
    font-weight: 600;
  }
}

ion-list {
  padding: 0;
  margin: 0 12px;
  background: transparent;

  ion-item {
    list-style: none; // 去掉點點
    margin-bottom: 12px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    --padding-start: 16px;
    --inner-padding-end: 12px;
    --min-height: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    ion-checkbox {
      --size: 22px;
      --checkmark-color: #000;
      --border-color: #aaa;
      --border-color-checked: #f9c74f;
      --checkbox-background: #fff;
      --checkbox-background-checked: #f9c74f;
      padding-right: 8px;
    }

    ion-label {
      font-size: 16px;
      font-weight: 500;
      color: #222;
    }



  }
}

.generate-btn {
  --background: #FFFFFF;
  --color: #333333;
  --border-radius: 8px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --border: 1px solid #333333;
  --ripple-color: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  font-weight: 600;
  font-size: 18px;
  margin: 0 12px;

  // active
  &:active {
    --background: #d3d4d5;
  }
}