<ion-header>
  <ion-toolbar>
    <ion-title>What's your plan today?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="plan-title">
        <ion-icon name="calendar-outline"></ion-icon>
        <div class="text">
          {{ selectedCount$ | async }} Plan{{ ((selectedCount$ | async) ?? 0) >
          1 ? 's' : '' }} for today
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let activity of (activities$ | async)">
        <ion-checkbox
          slot="start"
          [checked]="activity.selected"
          (ionChange)="toggleActivity(activity)"
        >
        </ion-checkbox>
        <ion-label>{{ activity.title }}</ion-label>

        <ion-button
          fill="clear"
          color="danger"
          slot="end"
          (click)="removeActivity(activity)"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-input #newActivity type="text" placeholder="Add a plan">
        </ion-input>
        <ion-button
          fill="clear"
          slot="end"
          (click)="addActivity(newActivity.value); newActivity.value=''"
        >
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      (click)="generateChecklist()"
      class="generate-btn"
    >
      Generate Checklist
    </ion-button>
  </ion-toolbar>
</ion-footer>
