<ion-content [scrollEvents]="true" (ionScroll)="onScroll()">
  <!-- Weather Card -->
  <ng-container *ngIf="weather$ | async as weather">
    <ion-card>
      <ion-card-content>
        <div class="weather-card">
          <!-- left：location + weather info -->
          <div class="weather-left">
            <div class="city">{{ cityName }}</div>
            <div class="description">{{ weather.description }}</div>
            <div class="temp">{{ weather.temperature_now }}°</div>
          </div>

          <!-- right：icon -->
          <img
            class="weather-icon"
            [src]="mapWeatherIcon(weather.weatherCode)"
            alt="weather icon"
          />
        </div>

        <!-- weather footer -->
        <div class="weather-footer">
          <div>
            <div class="label">Highest</div>
            <div class="value">{{ weather.temperature_max }}°</div>
          </div>
          <div>
            <div class="label">Lowest</div>
            <div class="value">{{ weather.temperature_min }}°</div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Sticky Mini Weather -->
    <div class="sticky-header" [class.hide]="!showMiniWeather">
      <div class="mini-weather">
        <img
          class="weather-icon"
          [src]="mapWeatherIcon(weather.weatherCode)"
          alt="weather icon"
        />

        <div class="text">
          {{ weather.temperature_now }}° {{ weather.description }}
        </div>

        <div class="spacer"></div>
        <!-- 空白佔位 -->

        <img
          class="weather-icon"
          [src]="mapWeatherIcon(weather.weatherCode)"
          alt="weather icon"
        />

        <div class="progress-container">
          <ion-progress-bar [value]="progress$ | async"></ion-progress-bar>
          <p class="progress-label">
            {{ (((progress$ | async) ?? 0) * 100) | number:'1.0-0' }}%
          </p>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Progress bar -->
  <div class="progress-bar-container">
    <ion-progress-bar [value]="progress$ | async"></ion-progress-bar>
    <p class="progress-label">
      {{ (((progress$ | async) ?? 0) * 100) | number:'1.0-0' }}%
    </p>
  </div>

  <!-- Checklist Items -->
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let item of checklist">
      <ion-item>
        <ion-icon
          [name]="item.icon || 'briefcase-outline'"
          slot="start"
        ></ion-icon>
        <!-- edit mode -->
        <ion-input
          *ngIf="item.editing"
          [value]="item.label"
          (keyup.enter)="editItem(item, $event);"
          (ionBlur)="editItem(item, $event);"
        ></ion-input>

        <!-- display mode -->
        <ion-label *ngIf="!item.editing">{{ item.label }}</ion-label>
        <ion-checkbox
          slot="end"
          [checked]="item.selected"
          (ionChange)="toggleChecklistItem(item)"
        ></ion-checkbox>
      </ion-item>

      <!-- slide left -->
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="startEdit(item, slidingItem)">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(item, slidingItem)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item>
      <ion-input
        #newActivity
        type="text"
        fill="outline"
        placeholder="Add an item"
      >
      </ion-input>
      <ion-button
        fill="clear"
        slot="end"
        (click)="addItem(newActivity.value); newActivity.value=''"
      >
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Sorted Popup -->
  <div class="sorted-popup" *ngIf="showSorted">
    <div class="sorted-circle">
      <h2>You’re sorted!</h2>
      <p>Let’s go 🎉</p>
    </div>
  </div>
</ion-content>
